<DOCTYPE! html>
<html>
<head>
	<title>best sport</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"">
	
</head>

<body>
	<h1> SLEEPING THE BEST SPORT EVER!!1</h1>

	<p> sleeping is the best sport because its helps maintain endurance, speed, and accuracy. Some research suggests that sleep deprivation increases levels of stress hormone, cortisol. Sleep deprivation has also been seen to decrease production of glycogen and carbohydrates that are stored for energy use during physical activity. </p>
	
	
</body>
</html>	